---
title: "HochwasserTok"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.4)

excerpt: "Lerne mit mir alles über Hochwasser und was du tun kannst"

image-text-row:
- excerpt: "
Hallo, ich bin Martha und ich forsche seit über sieben Jahren am Thema Hochwasser.
Ich habe an der RWTH in Aachen Wirtschaftsingenieurwesen mit Fachrichtung Bauingenieurwesen und Vertiefung
Wasserwesen studiert und im Anschluss am Institut für Wasserbau und Wasserwirtschaft der RWTH zum Thema
Hochwasserbewältigung 5.0. promoviert.
"
  image-url: "/assets/images/hochwassertok-profilbild.webp"
  alt-text: "HochwasserTok Gründerin Martha Wingen"
  image-width: "200px"
  image-right: false

mission:
- excerpt: "
Die Lehren aus dem Hochwasserereignis 2021 sind sehr vielseitig. Eine Komponente, die sich bereits früh herauskristallisierte: Die Öffentlichkeit weiß zu wenig über Hochwasser, Eigenvorsorge, Zuständigkeiten, Informationsmöglichkeiten und Verhaltensweisen. Besonders die Zahl der Todesopfer, die durch das Betreten der Kellerräume verstorben sind, hat mich sehr geschockt und ich bin der festen Überzeugung, dass das vermeidbar gewesen wäre, wenn mehr Wissenschaftskommunikation und Bildungsarbeit in dem Bereich geleistet wird.
"
  image-url: "/assets/images/hochwasserbild.webp"
  alt-text: "Ein Hochwasserereignis"
  image-width: "300px"
  image-right: true
---

{% include image-text-row %}

<div class="box-container">

    <div class="box box--primary box-third">
        Im Jahr 2017 habe ich das Netzwerk der Social Media Manager der Wasserwirtschaft (SoMeWa) gegründet und bin seit
        2021 im Vorstand der Deutschen Gesellschaft zur Förderung von Social Media und Technologie
        im Bevölkerungsschutz (DGSMTech) e.V.
        Weiter bin ich Gastdozentin an der BABZ des BBK und IHK-zertifizierte Social Media Managerin.
    </div>

    <div class="box box--primary box-third">
        Nach dem Hochwasserereignis 2021 war mir klar, wir müssen neue Wege gehen, um den Menschen die Themen Vorsorge
        und Schutz vor Hochwasser und Starkregen näher zu bringen.
        Dafür habe ich einen Bildungskanal namens “HochwasserTok” gegründet und halte Vorträge für Fachleute,
        die sich mit den Themen Wissenschaftskommunikation, Bildung der Bevölkerung, oder Risiko- und
        Krisenkommunikation beschäftigen wollen.
    </div>

    <div class="box box--primary box-third">
        Seit Anfang 2024 arbeite ich neben meiner Hauptarbeit im
        Hochwasserrisikomanagement der StädteRegion Aachen auch freiberuflich. Zu meinen Kunden gehören das FWW der
        RPTU Kaiserslautern, die DWA oder das DIfU.
    </div>

</div>











<hr class="section-sep">

<h2 id="mission" class="bigger"> Meine Mission: Überflutungsschutz für alle </h2>

{% include image-text-row id="mission" %}

<div class="box-container">

    <div class="box box--primary box-half">
        Meiner Meinung nach reicht es heute nicht mehr, Informationen irgendwo auf einer Webseite zu platzieren und es den Menschen selbst zu überlassen, sich die Zusammenhänge zu erarbeiten und es dabei zu belassen.
    </div>

    <div class="box box--primary box-half">
        Ich habe mich also gefragt: Wie kann man diese Themen zeitgemäß vermitteln? Und was müssen wir strukturell alles ändern, um eine widerstandsfähige und gut informierte Gesellschaft zu fördern? Daran arbeite ich jeden Tag, sowohl in der StädteRegion Aachen, als auch in meiner Freiberuflichkeit.
    </div>

</div>










<hr class="section-sep">

<h2 id="bildung" class="bigger"> HochwasserTok Bildungskanal </h2>

Im Rahmen meiner Doktorarbeit habe ich meiner Freizeit den Bildungskanal HochwasserTok gegründet.
In kurzen Videos versuche ich Themen aus den Bereichen Hochwasser und Starkregen allgemein verständlich
und mit einer Prise Humor zu vermitteln. Dazu bin ich am 01.07.2022 auf Instagram, YouTube und TikTok
unter dem Namen @hochwassertok gestartet. Ich würde mich sehr freuen, wenn du einen Follow auf der
Plattform deiner Wahl dalässt.

<br><br>
<hr>
TODO -- Hier Socials einbinden --
<hr>
<br>











<hr class="section-sep">

<h2 id="newsletter" class="bigger"> Newsletter Sign Up </h2>

In meinem Newsletter wirst du informiert, wenn ich neue Videos oder Beiträge hochlade,
wenn meine Doktorarbeit zur Hochwasserbewältigung final veröffentlicht ist und wenn mein Hochwasserkurs
für Privatpersonen, Mieter und Hauseigentümer startet.

<div class="box-newsletter">
    <div id="mc_embed_shell">
        <div id="mc_embed_signup">
            <form action="https://neurotidal.us13.list-manage.com/subscribe/post?u=f6b2bac31220dd270fc1a0cb8&amp;id=49a9e16114&amp;f_id=008355e9f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div class="indicates-required"><span class="asterisk">*</span> Angaben erforderlich</div>
                    <div class="mc-field-group"><label for="mce-EMAIL">E-Mail-Adresse <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-FNAME">Vorname </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Nachname </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div><div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_f6b2bac31220dd270fc1a0cb8_49a9e16114" tabindex="-1" value=""></div><div class="clear">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary" value="Zum Newsletter anmelden"></div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>












<hr class="section-sep">

<h2 id="kurs" class="bigger"> Persönlicher Überflutungsschutz: Grundlagenkurs </h2>

Hier entsteht bald ein Kursangebot für alle Interessierten, die sich online im Selbststudium
in kurzer Zeit über Hochwasser, Starkregen und Selbstschutz informieren möchten.
Ob Mieter, Eigentümer, Hauskäufer oder Bauherr, ich erkläre dir alles, was du wissen musst,
um keine bösen Überraschungen zu erleben.
<br><br>
Wenn du wissen willst, wann der Kurs losgeht, melde dich gerne beim <a href="#newsletter">Newsletter</a> an.













<hr class="section-sep">

<h2 id="forschung" class="bigger"> Forschung </h2>

<h3>Warum kenne ich mich eigentlich so gut im Bereich Hochwasserbewältigung aus?</h3>

<p>Ich habe seit dem Jahr 2016 viel geforscht und verschiedenste Projekte bearbeitet. Hier eine kleine Auswahl dieser Projekte:</p>

<div class="box box--primary">
    <ul>
        <li>Durchführung von physikalischen Modellversuchen (Wasserleichen und Fischleitsysteme Diffusor)</li>
        <li>Numerische Modellierung von Hochwasserszenarien an der thüringischen Saalekaskade und dem Umbau des Olsberger Weihers</li>
        <li>Numerische Modellierung von Retentionsräumen im Ahrtal</li>
        <li>Analyse Hochwasser Juli 2021</li>
        <li>Untersuchung von äolischem Sedimenttransport und Dünenentwicklung in der Mongolei</li>
        <li>Gutachten zur Talsperrensteuerung während des Hochwassers 2021 im Wuppertalsperrengebiet</li>
        <li>Ermittlung neuer Deichverbandsgrenzen für den Deichverband Duisburg-Xanten</li>
    </ul>
</div>
<br>
<p>Hier findet ihr meine <a href="link-zu-publikationsliste">Publikationsliste</a>.</p>

<br><br>
<hr>
TODO -- Entweder Link zur Publikationsliste, oder Liste erstellen --
<hr>
<br><br>
<p>Sobald meine Doktorarbeit veröffentlicht ist, sage ich allen in meinem Newsletter Bescheid.</p>


<br><br>
<hr>
Optional -- Partner & Testimonials? --
<hr>
<br><br>
